@import "variables";
@import "mixins";

.about-me-container {
  @include container-maxwidth();

  display: flex;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 8rem;

  .me-picture {
    flex-basis: 440px;
  }
  .me-about {
    flex-basis: 900px;

    h2 {
      margin-bottom: 2rem;
    }
  }
}
