@import "variables";
@import "mixins";
@import "breakpoints";

.about-me-container {
  @include container-maxwidth();

  display: flex;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 8rem;

  .me-picture {
    flex-basis: 440px;
    margin-right: 2rem;
  }
  .me-about {
    flex-basis: 900px;

    h2 {
      margin-bottom: 2rem;
    }
  }
}

@include media-breakpoint-max(md) {
  .about-me-container {
    .me-picture {
      flex-basis: auto;

      object {
        height: 260px;
      }
    }
  }
}

@include media-breakpoint-max(sm) {
  .about-me-container {
    flex-direction: column;
    padding-top: 6rem;
    padding-bottom: 6rem;

    .me-picture {
      margin-bottom: 2rem;
    }

    .me-about {
      flex-basis: auto;

      h2 {
        margin-bottom: 1rem;
      }
    }
  }
}

