<div class="about-me-container">
  <div class="me-picture">
    <object type="image/svg+xml" data="../../../../assets/images/razz-picture.svg"></object>
  </div>
  <div class="me-about">
    <h2 class="font-black">About Me</h2>
    <p>
      Hi, my name Ernesto Razo Jr., a residence of El Salvador, Misamis Oriental. I am a Front-end Developer and I've been developing
      an application for almost 3 years. I'd like to make frontend solutions for both web and mobile applications. Also, I do unit
      and end-to-end testing as one of the documentation of the application. I am self-motivated and I'd like to work with a team
      that gives feedbacks and critiques just to enhance and expand my current skills.
    </p>
  </div>
</div>
