<div class="about-me-container">
  <div class="me-picture" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
    <object type="image/svg+xml" data="../../../../assets/images/razz-picture.svg"></object>
  </div>
  <div class="me-about" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
    <h2 class="font-black">Summary</h2>
    <p>
      A front-end web developer with 3+ years of experience who is passionate about responsive web design, mobile-first approaches, and automated testing. Build an application using HTML, CSS, and JavaScript, and provide a thorough understanding of a front-end framework like Angular and Vue. I am self-motivated and love to work with a team that gives feedback and critiques to enhance and expand my current skills.
    </p>
  </div>
</div>
