<div class="about-me-container">
  <div class="me-picture">
    <object type="image/svg+xml" data="../../../../assets/images/razz-picture.svg"></object>
  </div>
  <div class="me-about">
    <h2 class="font-black">About Me</h2>
    <p>
      Lorem ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type
      specimen book. It has s urvived not only five centuries, but also the leap into
      electronic typesetting, remaining essentially unchanged.
    </p>
  </div>
</div>
