@import "variables";
@import "mixins";

.navbar {
  position: fixed;
  height: auto;
  width: 100%;
  background-color: $color-white;
  border-bottom: 1px solid #E9E4E4;
  z-index: 2;

  .navs {
    @include container-maxwidth();

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.5rem;

    .nav-items {
      display: inline-flex;

      .nav-item {
        &:not(:last-child) {
          margin-right: 2.5rem;
        }

        &.active {
          a {
            font-weight: 700;
          }

          .active-dot::after {
            background-color: $primary-color;
            opacity: 1;
          }
        }

        .active-dot {
          position: relative;
          display: flex;
          justify-content: center;

          &::after {
            content: "";
            position: absolute;
            bottom: -14px;
            height: 8px;
            width: 8px;
            opacity: 0;
            background-color: $secondary-color;
            border-radius: 50%;
          }
        }

        a {
          color: inherit;

          &:hover {
            + .active-dot::after {
              opacity: 1;
              transition: ease 300ms;
            }
          }
        }
      }
    }
  }

}
