@mixin media-breakpoint-min($name, $breakpoints: $media-breakpoints) {
  $breakpoint: map-get($media-breakpoints, $name);

  @media(min-width: $breakpoint) {
    @content;
  }
}

@mixin media-breakpoint-max($name) {
  $max-breakpoints: map-get($media-breakpoints, max);
  $breakpoint: map-get($max-breakpoints, $name) - 0.2;

  @media(max-width: $breakpoint) {
    @content;
  }
}
