.btn {
  padding: 1rem 2.5rem;
  background-color: yellow;
  font-size: inherit;
  font-weight: 700;
  font-size: 20px;
  border-radius: 30px;
  outline: 0;
  cursor: pointer;

  transition: ease 300ms;

  &-primary {
    background-color: $primary-color;
    color: $color-white;

    &:hover {
      background-color: $secondary-color;
      transition: ease 300ms;
    }
  }
}

@include media-breakpoint-max(sm) {
  .btn {
    padding: 0.75rem 2rem;
    font-size: 16px;
  }
}
