/* Text Transform */
.text-uppercase { text-transform: uppercase !important; }

/* Text Positions */
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }

/* Line heights */
.line-height-1 { line-height: 1 !important; }

/* Header Texts */
.header-texts {
  margin-bottom: 3rem;

  p {
    max-width: 460px;
  }
}

@include media-breakpoint-max(sm) {
  .header-texts {
    p {
      max-width: 420px;
    }
  }
}
