$primary-color: #9948E0;
$secondary-color: #E053CC;
$tertiary-color: #3D3FE0;

$color-white: #FFFFFF;
$color-black: #000000;

$text-color-blue: $tertiary-color;
$text-color-yellow: #E0C85E;

$font-weights: (
  "extra-light": 200,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
  "extra-bold": 800,
  "black": 900
)
