<div class="education-and-work-main-container">
  <div class="education-and-work-container">
    <div class="header-texts">
      <h2 class="font-black">Education & Work</h2>
      <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <div class="education-grid">
      <div class="education-grid-item">
        <object type="image/svg+xml" data="../../../../assets/logos/sja-logo.svg"></object>
        <h3>St. Joseph Academy</h3>
        <div class="detail-text">El Salvador City, Misamis Oriental</div>
        <div class="detail-text">Year Graduated: 2013</div>
      </div>
      <div class="education-grid-item">
        <object type="image/svg+xml" data="../../../../assets/logos/buksu-logo.svg"></object>
        <h3>Bukidnon State University Alubijid Statelite Campus</h3>
        <div class="detail-text">Alubijid, Misamis Oriental</div>
        <div class="detail-text">Year Graduated: 2019</div>
      </div>
    </div>

    <div class="work-grid">
      <div class="work-grid-item">
        <object type="image/svg+xml" data="../../../../assets/logos/hyperstacks-inc.svg"></object>
        <h3>Hyperstacks Inc.</h3>
        <div class="detail-text">Front-End Developer</div>
        <div class="detail-text">2019 - Present</div>
      </div>
      <div class="work-grid-item">
        <object type="image/svg+xml" data="../../../../assets/logos/muuvment.svg" height="62"></object>
        <h3>Muuvment</h3>
        <div class="detail-text">Front-End Developer</div>
        <div class="detail-text">2020 - Present</div>
      </div>
    </div>
  </div>
</div>
