@import "variables";
@import "mixins";
@import "breakpoints";

.footer {
  margin-top: -8rem;
  padding-top: 12rem;
  padding-bottom: 3rem;
  background-color: #292929;

  .footer-container {
    @include container-maxwidth();

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-white;

    .footer-details {
      text-align: center;
      font-size: 1.135rem;
      font-weight: 200;
    }
  }
}

@include media-breakpoint-max(sm) {
  .footer {
    .footer-container {
      .footer-details {
        font-size: 14px;
      }
    }
  }
}

@include media-breakpoint-max(xs) {
  .footer {
    padding-top: 10rem;

    .footer-container {
      flex-direction: column;

      svg {
        margin-bottom: 1rem;
      }
    }
  }
}
