<div class="contact-me-main-container" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
  <div class="contact-me-container">
    <div class="header-texts text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
      <h2 class="font-black">Contact Me</h2>
      <p class="font-light" style="margin: 0 auto;">You can reach me with my following details below. Let's keep in touch.</p>
    </div>
    <div class="contact-me-columns">
      <div class="contact-details" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
        <div class="detail-item">
          <object type="image/svg+xml" data="assets/icons/instagram-white.svg"></object>
          <div class="detail-item-text">@razzern</div>
        </div>
        <div class="detail-item">
          <object type="image/svg+xml" data="assets/icons/phone-call.svg"></object>
          <div class="detail-item-text">+63 906797 8160</div>
        </div>
        <div class="detail-item">
          <object type="image/svg+xml" data="assets/icons/email-white.svg"></object>
          <div class="detail-item-text">razz.ernesto@gmail.com</div>
        </div>
        <div class="detail-item">
          <object type="image/svg+xml" data="assets/icons/linkedin.svg"></object>
          <div class="detail-item-text">www.linkedin.com/in/razz-ernesto</div>
        </div>
      </div>
      <div class="contact-illustration" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
        <object type="image/svg+xml" data="assets/images/person-dialogs.svg"></object>
      </div>
    </div>
  </div>
</div>
