@import "variables";
@import "mixins";
@import "breakpoints";

.contact-me-main-container {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 0px 0px 0px 120px;
  background: linear-gradient(269.98deg, #3D3FE0 1.73%, #9231E7 99.98%);
  z-index: 2;

  .contact-me-container {
    @include container-maxwidth();

    color: $color-white;

    .header-texts {
      margin-bottom: 2.5rem;
    }

    .contact-me-columns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 4rem;

      .contact-details {
        flex-basis: 50%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        .detail-item {
          text-align: right;

          &:not(:last-child) {
            margin-bottom: 1.5rem;
          }

          &-text {
            font-size: 1.5rem;
            font-weight: 200;
          }
        }
      }

      .contact-illustration {
        flex-basis: 50%;
      }

    }
  }
}

@include media-breakpoint-max(md) {
  .contact-me-main-container {
    .contact-me-container {
      .contact-me-columns {
        .contact-details {
          .detail-item {
            object {
              height: 28px;
            }
            .detail-item-text {
              font-size: 18px;
            }
          }
        }

        .contact-illustration {
          object {
            height: 240px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-max(sm) {
  .contact-me-main-container {
    .contact-me-container {
      .contact-me-columns {
        .contact-illustration {
          object {
            height: 160px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-max(xs) {
  .contact-me-main-container {
    .contact-me-container {
      .contact-me-columns {
        justify-content: center;
        flex-direction: column;

        .contact-details {
          justify-content: center;
          margin-bottom: 2rem;

          .detail-item {
            text-align: center;

            object {
              height: 32px;
            }
            .detail-item-text {
              font-size: 20px;
            }
          }
        }

        .contact-illustration {
          object {
            height: 160px;
          }
        }
      }
    }
  }
}
