@import "variables";
@import "mixins";
@import "breakpoints";

.header-content-container {
  height: 100vh;
  position: relative;
  padding-top: 77px;
  background-color: $color-white;
  border-bottom: 1px solid #E8E8E8;
  overflow: hidden;

  .top-left-blob {
    position: absolute;
    top: 78px;
    left: 0;
  }
  .top-right-illustration {
    position: absolute;
    top: 132px;
    right: 62px;
  }
  .bottom-right-blob {
    position: absolute;
    bottom: -4px;
    right: 0;
  }
  .bottom-left-illustration {
    position: absolute;
    bottom: 62px;
    left: 62px;

    object {
      height: 260px;
    }
  }

  .header-main-texts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    .male-avatar {
      margin-bottom: 1rem;
    }

    .main-name {
      margin-bottom: 1.25rem;
      text-align: center;
    }

    .main-title {
      margin-bottom: 1.5rem;
      font-weight: 900;
      text-align: center;
      line-height: 1;
      text-transform: uppercase;

      span:first-child { color: $text-color-blue; }
      span:last-child { color: $text-color-yellow; }
    }

    .services-list {
      display: flex;
      align-items: center;
      justify-content: center;

      .service-list-item {
        font-size: 20px;

        svg {
          display: block;
          margin: 0 auto;
        }
      }
      .service-list-item:nth-child(2),
      .service-list-item:nth-child(4) {
        margin: 0 1.5rem;
      }
    }

    .btn-primary {
      margin: 3rem 0;
    }

    .arrow-down {
      margin: 3rem 0;

      svg {
        cursor: pointer;
      }
    }
  }

}

@include media-breakpoint-max(md) {
  .header-content-container {
    .top-left-blob {
      object {
        height: 200px;
      }
    }
    .top-right-illustration {
      top: 108px;
      right: 26px;

      object {
        height: 160px;
      }
    }
    .bottom-right-blob {
      object {
        height: 200px;
      }
    }
    .bottom-left-illustration {
      bottom: 26px;
      left: 26px;

      object {
        height: 216px;
      }
    }
  }
}

@include media-breakpoint-max(sm) {
  .header-content-container {
    .top-left-blob {
      object {
        height: 160px;
      }
    }
    .top-right-illustration {
      top: 108px;
      right: 26px;

      object {
        height: 120px;
      }
    }
    .bottom-right-blob {
      object {
        height: 160px;
      }
    }
    .bottom-left-illustration {
      bottom: 26px;
      left: 26px;

      object {
        height: 160px;
      }
    }

    .header-main-texts {
      .main-name {
        margin-bottom: 0.5rem;
      }
      .services-list {
        display: grid;
        grid-template-columns: 1fr 2rem 1fr;
        justify-content: center;
        column-gap: 1rem;
        row-gap: 0.5rem;

        .service-list-item {
          font-size: 18px;
        }

        .service-list-item:nth-child(1) {
          text-align: right;
        }
        .service-list-item:nth-child(2),
        .service-list-item:nth-child(4) {
          margin: 0;
          text-align: center;
        }
        .service-list-item:nth-child(4) {
          display: none;
        }
        .service-list-item:last-child {
          text-align: center;
          grid-column: span 3;
        }
      }

      .btn-primary {
        margin: 2rem 0;
      }

      .arrow-down {
        margin: 1rem 0;
      }
    }
  }
}

@include media-breakpoint-max(xs) {
  .header-content-container {
    height: 736px;

    .top-left-blob {
      object {
        height: 120px;
      }
    }
    .top-right-illustration {
      display: none;
    }
    .bottom-right-blob {
      object {
        height: 120px;
      }
    }
    .bottom-left-illustration {
      display: none;
    }

    .header-main-texts {
      .services-list {
        .service-list-item {
          font-size: 16px;
        }
      }
    }
  }
}
