<div class="techs-and-tools-container">
  <div class="header-texts" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
    <h2 class="font-black">Technologies & Tools</h2>
    <p>These are the variety of technologies and tools I have used to create applications.</p>
  </div>
  <div class="techs-grid" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/html5.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/css3.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/javascript.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/typescript.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/boostrap.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/sass.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/angular.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/nativesctipt.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/material.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/cypress.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/github.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/android.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/android-studio-logo.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/kotlin.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/nuxtjs.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/Vue.js_Logo_2.svg"></object>
    </div>
  </div>
</div>
