<div class="techs-and-tools-container">
  <div class="header-texts">
    <h2 class="font-black">Techs' & Tools</h2>
    <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>
  </div>
  <div class="techs-grid">
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/html5.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/css3.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/javascript.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/typescript.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/boostrap.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/sass.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/angular.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/nativesctipt.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/material.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/cypress.svg"></object>
    </div>
    <div class="techs-grid-item">
      <object type="image/svg+xml" data="assets/logos/github.svg"></object>
    </div>
  </div>
</div>
