@import "variables";
@import "mixins";
@import "breakpoints";

.techs-and-tools-container {
  @include container-maxwidth();

  padding-top: 6rem;
  padding-bottom: 6rem;

  .techs-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: center;

    .techs-grid-item {
      text-align: center;
    }

    .techs-grid-item:nth-child(-1n + 6) {
      grid-column: span 2;
    }
    .techs-grid-item:nth-child(7) {
      grid-column: 1 / 5;
      grid-row: 2;
    }
    .techs-grid-item:nth-child(8) {
      grid-column: 4 / 6;
      grid-row: 2;
    }
    .techs-grid-item:nth-child(9) {
      grid-column: 6 / 8;
      grid-row: 2;
    }
    .techs-grid-item:nth-child(10) {
      grid-column: 8 / 10;
      grid-row: 2;
    }
    .techs-grid-item:nth-child(11) {
      grid-column: 10 / 12;
      grid-row: 2;
    }

  }
}

@include media-breakpoint-max(md) {
  .techs-and-tools-container {
    .techs-grid {
      .techs-grid-item {
        object {
          height: 78px;
        }
      }
    }
  }
}
